<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- File Appender -->
		<File name="File" fileName="E://Leave_Tracker//internal_log.txt"
			immediateFlush="true">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName}
			--- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Loggers>
		<Logger name="com.internal" level="debug" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>